@font-face {
    font-family: Favorit;
    src: url(favorit-regular.otf);
  }

body {
    font-family: Favorit, Arial, Helvetica, sans-serif;
}

.main {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    /* height: 300px; */
    border: 1px solid black;
}

.main h1, h3 {
    text-align: center;
}

.inner {
    text-align: center;
    height: 175px;
    /*border: 2px solid green; */
    padding-left: 20px;
    padding-right: 20px;
}

.inner button {
    background-color: #f44336;
}

